<!DOCTYPE html>
<html>
   <body>
      <h1>Register</h1>
      <form method="post" id="myForm">
         <input type="text" name="email" placeholder="email">
         <br>
         <input type="text" name="username" placeholder="username">
         <br>
         <input type="password" name="password" placeholder="password">
         <br>
         <input type="button" value="Submit" onclick="submitForm()">
      </form>
      <div id="responseArea"></div>
      <script>
         function submitForm() {
             var formElement = document.getElementById('myForm');
             var data = new FormData(formElement);
             fetch('/auth/register', {
                   method: 'POST',
                   headers: {
                     'Accept': 'application/json',
                     'Content-Type': 'application/json'
                 },
                   body: JSON.stringify(Object.fromEntries(data))
                 })
                 .then(resp => resp.text())  // or, resp.json(), etc.
                 .then(data => {
                   document.getElementById("responseArea").innerHTML = data;
                 })
                 .catch(error => {
                   console.error(error);
                 });
            window.location.href="http://localhost:8000/pages/home";
         }
      </script>
   </body>
</html>